<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT Registration</title>
</head>
<body>
    <h1>GUDLFT Registration Portal</h1>

    <p><a href="{{ url_for('index') }}">back to login page</a></p>
    <h2>Clubs points board</h2>
    <table style="border-spacing: 10px">
        <tr>
            <th>Clubs</td>
            <th>Points</td>
        </tr>
        {% for club in clubs %}
        <tr>
            <td>{{ club['name'] }}</td>
            <td style="text-align: center">{{ club['points'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>