<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking for {{ competition['name'] }} || GUDLFT</title>
</head>
<body>
    <h2>{{competition['name']}}</h2>
    <form action="/showSummary" method="post">
        <input type="hidden" name="email" value="{{club['email']}}">
        <button type="submit">Return to list</button>
    </form>
    <p>
        <span style="margin: 10px">Places available: {{ competition['numberOfPlaces'] }}</span>
        <span style="margin: 10px">Points available: {{ club['points'] }}</span>
        <span style="margin: 10px">Places already reserved: {{ reserved_places }}</span>
    </p>

    {% with messages = get_flashed_messages() %}
    <form action="/purchasePlaces" method="post">
        <input type="hidden" name="club" value="{{club['name']}}">
        <input type="hidden" name="competition" value="{{competition['name']}}">
        <label for="places">How many places?</label><input type="number" name="places" id=""/>
        <button type="submit">Book</button>
    </form>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>
</html>